*.pdf
*.log
__pycache__/
.pytest_cache/
node_modules/
dist/# Node
node_modules/
dist/
.vite/

# Python
__pycache__/
.pytest_cache/
.venv/
*.pyc

# Env
.env

# IDE
.vscode/
.idea/

# Docker
**/.python_packages/
**/.mypy_cache/
**/.ruff_cache/